---
layout: default
---
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <div class="phame-post">
            <h2 class="phame-post-title">{{ page.title }}</h2>
            <div class="phame-post-date">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</div>
            <div class="phame-post-body">{{ content }}</div>
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
